<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800"> ALL FOODS</h1>
    

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        
        <div class="card-body">
            <a class="btn btn-primary" style="float: right; margin-bottom: 10px;" routerLink="/admin/addfood">
                Add Food
            </a>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Food</th>
                            <th>cooktime</th>
                            <th>Price</th>
                            <th>favorite</th>
                            <th>origins</th>
                            <th>Tags</th>
                            <th>Button</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Food</th>
                            <th>cooktime</th>
                            <th>Price</th>
                            <th>favorite</th>
                            <th>origins</th>
                            <th>Tags</th>
                            <th>Button</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <th>Pizza Pepperoni</th>
                            <th>10-20</th>
                            <th>10</th>
                            <th>false</th>
                            <th>italy</th>
                            <th>FastFood,Pizza</th>
                            <td>
                                <button class="btn btn-primary">Update</button>
                                <button class="btn btn-danger">Delete</button>
                            </td>
                        </tr>
                        <tr>
                            <th>Meatball</th>
                            <th>10-15</th>
                            <th>10</th>
                            <th>true</th>
                            <th>italy,persia</th>
                            <th>Lunch</th>
                            <td>
                                <button class="btn btn-primary">Update</button>
                                <button class="btn btn-danger">Delete</button>
                            </td>
                        </tr>
                        <tr>
                            <th>Hamburger</th>
                            <th>20-30</th>
                            <th>10</th>
                            <th>true</th>
                            <th>germany,USA</th>
                            <th>FastFood</th>
                            <td>
                                <button class="btn btn-primary">Update</button>
                                <button class="btn btn-danger">Delete</button>
                            </td>
                        </tr>
                        
                            
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>